<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.4b" compilationDate="16072017020601" sdkApiVersion="28" originalPluginFileName="Memes+.rpk">
	<!--O id identifica seu plugin globalmente. Deve ser único, conter apenas caracteres alfanuméricos, underlines, pontos e deve conter ao menos 5 caracteres e um máximo de 40. Uma vez definido o ID, você não deve alterar ele ;) -->
	<id>Marcos.7765.MemesPlus</id>
	<!--version é a versão do seu plugin. Quando for lançar uma nova versão do seu módulo, altere aqui =) -->
	<version>6.9/Barrichello de Prata</version>
	<name>Memes+</name>
	<description>Novos Memes adicionados ao seu chat do RRPG!</description>
	<author>Marcos7765\Яepaj</author>
	<site></site>
	<contact>https://pt-br.facebook.com/people/Jaspier-Mario/100009324504077</contact>
</module>
