<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.7b">
    <!--"id" identifica seu plug-in de forma global. Deve ser exclusivo, conter apenas caracteres alfanuméricos, underlines, pontos e deve conter pelo menos 5 caracteres e um máximo de 40. Depois de definir o ID, você não deve alterá-lo ;)-->
    <id>br.com.WeirdWizard</id>
    <!--"version" é a versão do seu plugin. Quando você lança uma nova versão do seu módulo, altere aqui =)-->
    <version>1.2</version>
    <info lang="pt-BR">
        <!--Informações do plugin na língua "pt-BR". Você pode ter várias tags "info", uma para cada tradução que quiser.-->
        <name>Shadow of the Weird Wizard</name>
        <description>Ficha de personagem para o RPG Shadow of the Weird Wizard</description>
        <author>Célio Zagalo</author>
        <site>linkedin.com/in/celiozagalo/</site>
        <contact>instagram.com/czagalo/</contact>
    </info>
</module>
