<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.7b" compilationDate="02092026215447" sdkApiVersion="88" originalPluginFileName="Crystal_World_New_Adventure.rpk" compilationDigest="097742aba586a7e8abb9a5246b935907582e17ac" sdkMinorApiVersion="2" compilationUniqueID="6a989b271a4ae63f00058eba">
    <!--The "id" identifies your plugin globally. Must be unique, must contain only alphanumeric characters, underlines and dots and must contain at least 5 characters and a maximum of 40. Once set the ID, you should not change it;)-->
    <id>Alem_do_veu_Hiperion</id>
    <!--"version" is the version of your plugin. When you release a new version of your module, change here =)-->
    <version>2.1.1</version>
    
    <info lang="pt-BR">
        <!--Informações do plugin na língua "pt-BR". Você pode ter várias tags "info", uma para cada tradução que quiser.-->
        <name>CWNA 2e</name>
        <description>Ficha com cálculos automáticos para CWNA 2e.</description>
        <author>Cezar_a</author>
        <site>.</site>
        <contact>.</contact>
    </info>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
</module>
