<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5">
	<id>Ambesek.Michiria</id>
	<version>1.0</version>
	<name>Ficha Michiria</name>
	<description>Ficha feita para a mesa Michiria com base no sistema Konoha Heroes</description>
	<author>Ambesek</author>
	<site>http://about:blank</site>
	<contact>vinnyrpgmeister@gmail.com</contact>
</module>
