<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5_prealpha_5" compilationDate="14082017003735" sdkApiVersion="28" originalPluginFileName="PokeIcons.rpk">
	<id>PokeIcons</id>
	<version>0.5</version>
	<name>PokeIcons</name>
	<description>Use comandos e atalhos /unown :numero: pra inserir pokémon no chat. Use /help para mais informações. </description>
	<author>Ambesek</author>
	<site>http://pt-br.rpgmeister.wikia.com/wiki/Main_Page</site>
	<contact>vinnyrpgmeister@gmail.com</contact>
</module>
