<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5" originalPluginFileName="nicksaver.rpk">
	<id>NickSaver</id>
	<version>1.1.1</version>
	<name>NickSaver</name>
	<description>Salva o nick e cor de fonte do usuario por mesa. Use /nicksaver para abrir o popup de configuração. </description>
	<author>Ambesek</author>
	<site>http://pt-br.rpgmeister.wikia.com/wiki/Main_Page</site>
	<contact>vinnyrpgmeister@gmail.com</contact>
</module>
