<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.4b">
	<id>Ambesek.4DeT</id>
	<version>0.2</version>
	<name>Ficha 4D&amp;T</name>
	<description>Ficha para Defensores de Toqui 4ª edição. </description>
	<author>Ambesek</author>
	<site></site>
	<contact>vinnyrpgmeister@gmail.com</contact>
</module>
