<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.3">
	<id>FICHA_ACN</id>
	<version>0.4</version>
	<name>Ficha Ao Cair da Noite</name>
	<description>Ficha feita para o sistema Ao Cair da Noite</description>
	<author>Ambesek &amp; Nefertyne</author>
	<site>http://about:blank</site>
	<contact>vinnyrpgmeister@gmail.com</contact>
</module>
