<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.6c">
	<id>Ambesek.Nefertyne.Numenera</id>
	<version>0.1</version>
	
	
	
	
	
    <info lang="pt-BR">
        <!--Informações do plugin na língua "pt-BR". Você pode ter várias tags "info", uma para cada tradução que quiser.-->
        <name>Ficha Numenéra</name>
        <description>Ficha para o cenario e sistema Numenéra. </description>
        <author>Ambesek</author>
        <site/>
        <contact>vinnyrpgmeister@gmail.com</contact>
    </info>
</module>
