*.cln
Plugins/Core/rrpginlua/output/rdkObjs/
Plugins/Core/sceneinlua/__history/
Plugins/Core/sceneinlua/output/rdkObjs/
Plugins/Sheets/DnD5e/output/rdkObjs/
Plugins/Sheets/Ficha GURPS 4ed Moderna/output/rdkObjs/
Plugins/Sheets/Ficha GURPS 4ed Padrao/output/rdkObjs/
Plugins/Sheets/Ficha GURPS 4ed Simples/output/rdkObjs/
**/output/rdkObjs/**
