<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.6c">
	<id>FichaDnDNext</id>
	<version>0.4.3</version>
	
	
	
	
	
    <info lang="pt-BR">
        <!--Informações do plugin na língua "pt-BR". Você pode ter várias tags "info", uma para cada tradução que quiser.-->
        <name>Ficha D&amp;D Next</name>
        <description>Ficha feita para o sistema D&amp;D Next</description>
        <author>Ambesek &amp; Nefertyne</author>
        <site>http://pt-br.rpgmeister.wikia.com/wiki/Main_Page</site>
        <contact>vinnyrpgmeister@gmail.com</contact>
    </info>
</module>
