<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5">
	<id>FichaDnDNext</id>
	<version>0.4.3</version>
	<name>Ficha D&amp;D Next</name>
	<description>Ficha feita para o sistema D&amp;D Next</description>
	<author>Ambesek &amp; Nefertyne</author>
	<site>http://pt-br.rpgmeister.wikia.com/wiki/Main_Page</site>
	<contact>vinnyrpgmeister@gmail.com</contact>
</module>
