<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.6e beta 3">
	<id>FICHA_PATHFINDER</id>
	<version>0.12</version>
	
	
	
	
	
    <info lang="pt-BR">
        <!--Informações do plugin na língua "pt-BR". Você pode ter várias tags "info", uma para cada tradução que quiser.-->
        <name>Ficha Pathfinder</name>
        <description>Ficha feita para o sistema Pathfinder.</description>
        <author>Ambesek &amp; Nefertyne</author>
        <site>http://pt-br.rpgmeister.wikia.com/wiki/Main_Page</site>
        <contact>vinnyrpgmeister@gmail.com</contact>
    </info>
</module>
