<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5">
	<id>FICHA_PATHFINDER</id>
	<version>0.11.3</version>
	<name>Ficha Pathfinder</name>
	<description>Ficha feita para o sistema Pathfinder.</description>
	<author>Ambesek &amp; Nefertyne</author>
	<site>http://pt-br.rpgmeister.wikia.com/wiki/Main_Page</site>
	<contact>vinnyrpgmeister@gmail.com</contact>
</module>
