<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.3">
	<id>FICHA_SSF</id>
	<version>0.4</version>
	<name>Ficha Saint Seya Forever</name>
	<description>Ficha feita para a mesa Saint Seiya Forever. Sistema GURPS.</description>
	<author>Ambesek &amp; Nefertyne</author>
	<site>http://saintseiyaforever.webnode.com</site>
	<contact>vinnyrpgmeister@gmail.com</contact>
</module>
