<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5_prealpha_2" compilationDate="03042018140242" sdkApiVersion="34" originalPluginFileName="RRPG 1.rpk">
	<!--O id identifica seu plugin globalmente. Deve ser único, conter apenas caracteres alfanuméricos, underlines, pontos e deve conter ao menos 5 caracteres e um máximo de 40. Uma vez definido o ID, você não deve alterar ele ;) -->
	<id>HdA.LBP</id>
	<!--version é a versão do seu plugin. Quando for lançar uma nova versão do seu módulo, altere aqui =) -->
	<version>1.0</version>
	<name>HdA v1</name>
	<description>Adiciona suporte para fichas do sistema Oficial de Hora de Aventura.</description>
	<author>LeandroBP</author>
	<site>https://www.facebook.com/lebreves</site>
	<contact>lebreves@gmail.com</contact>
	
</module>
