<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5">
	<id>Ambesek.Nefertyne.Cyberpunk2020</id>
	<version>0.5</version>
	<name>Ficha Cyberpunk 2020</name>
	<description>Ficha para o sistema Cyberpunk 2020. </description>
	<author>Ambesek</author>
	<site/>
	<contact>vinnyrpgmeister@gmail.com</contact>
</module>
