<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5">
	<id>Ambesek.Herois.d20</id>
	<version>0.6.2</version>
	<name>Ficha Herois d20</name>
	<description>Ficha feita para jogar campanhas de Súper-Herois usando o sistema d20/D&amp;D3.5</description>
	<author>Ambesek</author>
	<site>https://github.com/rrpgfirecast/firecast</site>
	<contact>vinnyrpgmeister@gmail.com</contact>
</module>
