<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5">
    <id>OP.v1.0.Samelfero</id>
    <version>1.0</version>
    <name>Ordem Paranormal v1.0</name>
    <description>Ficha para o sistema Ordem Paranormal versão 1.0</description>
    <author>Samelfero</author>
    <contact>Discord: samelfero#5996</contact>
</module>
