<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.6c">
	<id>Ambesek.Template</id>
	<version>1.0</version>
	<info lang="pt-BR">
        <!--Informações do plugin na língua "pt-BR". Você pode ter várias tags "info", uma para cada tradução que quiser.-->
        <name>Template</name>
        <description>Template com varias coisas uteis para fazer fichas. </description>
        <author>Ambesek</author>
        <site/>
        <contact>vinnyrpgmeister@gmail.com</contact>
    </info>
</module>
