<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.4">
	<id>Ambesek.Skullast</id>
	<version>1.0</version>
	<name>Plugin Skullast</name>
	<description>Ficha para um sistema proprio Skullast.</description>
	<author>Ambesek</author>
	<site/>
	<contact>vinnyrpgmeister@gmail.com</contact>
</module>
