<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.4_beta_1" compilationDate="16022017012001" sdkApiVersion="10" originalPluginFileName="autolog.rpk">
	<!--O id identifica seu plugin globalmente. Deve ser único, conter apenas caracteres alfanuméricos, underlines, pontos e deve conter ao menos 5 caracteres e um máximo de 40. Uma vez definido o ID, você não deve alterar ele ;) -->
	<id>Autolog</id>
	<!--version é a versão do seu plugin. Quando for lançar uma nova versão do seu módulo, altere aqui =) -->
	<version>1.2</version>
	<name>Autolog</name>
	<description>Salva automaticamente o log das mesas na pasta "Documentos\RRPG\Complementos\Autolog\Logs"</description>
	<author>Dniester "Tyras" Amorim de Aguiar</author>
	<site>N/A</site>
	<contact>mrfishjr@gmail.com</contact>
</module>
