<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.6c">
    <id>FICHA_LH</id>
    <version>0.1</version>
    
    
    
    
    
    <info lang="pt-BR">
        <!--Informações do plugin na língua "pt-BR". Você pode ter várias tags "info", uma para cada tradução que quiser.-->
        <name>Ficha Log Horizon</name>
        <description>Ficha feita para o sistema Log Horizon</description>
        <author>Ambesek &amp; Nefertyne</author>
        <site>http://about:blank</site>
        <contact>vinnyrpgmeister@gmail.com</contact>
    </info>
</module>
