<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5">
	<id>Ambesek.Pathfinder.2e</id>
	<version>1.0.1</version>
	<name>Ficha Pathfinder 2e</name>
	<description>Ficha feita para o sistema Pathfinder 2e.</description>
	<author>Ambesek</author>
	<site>http://pt-br.rpgmeister.wikia.com/wiki/Main_Page</site>
	<contact>vinnyrpgmeister@gmail.com</contact>
</module>
