<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.4b" compilationDate="04042018152322" sdkApiVersion="34" originalPluginFileName="Ficha The Maze.rpk">
	<id>Ambesek.The.Maze</id>
	<version>0.1</version>
	<name>FichaTheMaze</name>
	<description>Ficha para o sistema e cenario The Maze. </description>
	<author>Ambesek</author>
	<site></site>
	<contact>vinnyrpgmeister@gmail.com</contact>    <dataTypes>
        <dataType title="Ficha The Maze" name="frmMain" lfmFile="TheMaze/Main.lfm">Ambesek.Nefertyne.TheMaze</dataType>
    </dataTypes>
</module>
