<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.6c" compilationDate="03032020023125" sdkApiVersion="86" originalPluginFileName="MobsFFRPG.rpk" compilationDigest="ecb64bfaf32a8f4d86fbaf081efe38c5e6fae6c6">
	<id>ID_MOB_FFRPG_3.5</id>
	<version>1.0</version>
	
	
	
	
	
    
    <info lang="pt-BR">
        <!--Informações do plugin na língua "pt-BR". Você pode ter várias tags "info", uma para cada tradução que quiser.-->
        <name>FFRPG - Ficha de Monstro</name>
        <description>Essa ficha auxilia na criação de monstros.</description>
        <author>Hitoshura</author>
        <site/>
        <contact>fliraf@gmail.com</contact>
    </info>
</module>
