<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.2">
    <id>FICHA_PKMN</id>
    <version>0.1</version>
    <name>Ficha PKMN</name>
    <description>Ficha feita para Pokémon d20</description>
    <author>Ambesek &amp; Nefertyne</author>
    <site>http://about:blank</site>
    <contact>vinnyrpgmeister@gmail.com</contact>
</module>
