<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5">
    <!--The "id" identifies your plugin globally. Must be unique, must contain only alphanumeric characters, underlines and dots and must contain at least 5 characters and a maximum of 40. Once set the ID, you should not change it;)-->
    <id>MUDANDO_INVENTARIO_ID</id>
    <!--"version" is the version of your plugin. When you release a new version of your module, change here =)-->
    <version>2.0</version>
    <name>Inventario Vendas</name>
    <description>Sistema de inventario com venda de itens</description>
    <author>Will Martins</author>
    <site>srv.mestrewill.tk</site>
    <contact>https://github.com/MestreWilll?tab=repositories</contact>
</module>
