<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5">
	<id>Ambesek.Warhammer.Fantasy</id>
	<version>1.0</version>
	<name>Warhammer Fantasy</name>
	<description>Ficha para o cenario e sistema Warhammer Fantasy. </description>
	<author>Ambesek</author>
	<site/>
	<contact>vinnyrpgmeister@gmail.com</contact>
</module>
