<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5">
    <!--The "id" identifies your plugin globally. Must be unique, must contain only alphanumeric characters, underlines and dots and must contain at least 5 characters and a maximum of 40. Once set the ID, you should not change it;)-->
    <id>Mage_The_Awakening_em_ingles_pdf</id>
    <!--"version" is the version of your plugin. When you release a new version of your module, change here =)-->
    <version>1.1</version>
    <name>Mage: The Awakening</name>
    <description>Ficha automatizada de MtA (Mage 2e) feita através de um PDF editável.</description>
    <author>Gatan</author>
    <site>https://github.com/Aliortolan</site>
    <contact>Gatan#6090</contact>
</module>
