<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.7b" originalPluginFileName="Pathfinder 2E.rpk" compilationDate="07122025030544" sdkApiVersion="88" sdkMinorApiVersion="2" compilationDigest="6277dc6c7c2a85e2d66e1656164a0bf1b36136ed" compilationUniqueID="6934ef08cfd36d4000008fa9">
    <id>br.com.rrpg.pathfinder2e</id>
    <version>3.0</version>
    <info lang="pt-BR">
        <name>Pathfinder 2E</name>
        <description>Ficha Pathfinder 2E 3.0</description>
        <author>Hirobrin</author>
        <site>https://firecast.app/pt_br/</site>
        <contact>Hirobrin</contact>
    </info>
    <dataTypes>
        <dataType title="Pathfinder 2e" name="Pathfinder2E" lfmFile="Ficha.lfm">br.com.rrpg.pathfinder2e</dataType>
    </dataTypes>
    <assembledFeatures>
        <dataTypes>
            <dataType id="br.com.rrpg.pathfinder2e" formType="sheetTemplate" lfmFile="Ficha.lfm" formName="Pathfinder2E">
                <info title="Pathfinder 2e"/>
            </dataType>
        </dataTypes>
    </assembledFeatures>
    <name>Pathfinder 2E</name>
    <description>Ficha Pathfinder 2E 3.0</description>
    <author>Hirobrin</author>
    <site>https://firecast.app/pt_br/</site>
    <contact>Hirobrin</contact>
</module>
