<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.6">
    <!--O id identifica seu módulo globalmente. Deve ser único, conter apenas caracteres alfanuméricos, underlines, pontos e deve conter ao menos 5 caracteres e um máximo de 40. Uma vez definido o ID, você não deve alterar ele ;) -->
    <id>br.com.rrpg.DnD5_SDK3</id>
    <!--version é a versão do seu módulo. Quando for lançar uma nova versão do seu módulo, altere aqui =) -->
    <version>1.0</version>

    <settings>
        <automaticStringLocalization>true</automaticStringLocalization>
    </settings>    

    <info lang="pt-BR">
        <!--Informações do plugin na língua "pt-BR". Você pode ter várias tags "info", uma para cada tradução que quiser.-->
        <name>D&amp;D 5e</name>
        <description>Modelo de ficha de D&amp;D 5ª edição</description>
        <author>Firecast</author>
        <site>https://firecast.app/</site>
        <contact>https://www.facebook.com/AlyssonRPG</contact>
    </info>

    <info lang="en">
        <!--Informações do plugin na língua "en". Você pode ter várias tags "info", uma para cada tradução que quiser.-->
        <name>D&amp;D 5th Edition</name>        
        <description>D&amp;D 5th edition character sheet for firecast</description>
    </info> 
</module>
