<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.3">
	<id>FICHA_ADnD_2e</id>
	<version>0.2</version>
	<name>Ficha Advanced Dungeons and Dragons 2th Edition</name>
	<description>Ficha feita para o sistema Advanced Dungeons and Dragons 2th Edition</description>
	<author>Ambesek &amp; Nefertyne</author>
	<site>http://about:blank</site>
	<contact>vinnyrpgmeister@gmail.com</contact>
</module>
