<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5">
	<id>FICHA_RPG_MEISTER</id>
	<version>3.7.1</version>
	<name>Ficha RPG meister</name>
	<description>Ficha feita para a mesa RPGmeister. Funciona normalmente para o sistema d20/D&amp;D3.5</description>
	<author>Ambesek &amp; Nefertyne</author>
	<site>http://pt-br.rpgmeister.wikia.com/wiki/Main_Page</site>
	<contact>vinnyrpgmeister@gmail.com</contact>
</module>
