<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5">
	<id>FICHA_KH</id>
	<version>2.2</version>
	<name>Ficha Konoha Heroes</name>
	<description>Ficha feita para o sistema Konoha Heroes</description>
	<author>HashBR</author>
	<site>http://about:blank</site>
	<contact>nada@gmail.com</contact>
</module>
