<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.6c">
	<id>FICHA_KH</id>
	<version>2.2</version>
	
	
	
	
	
    <info lang="pt-BR">
        <!--Informações do plugin na língua "pt-BR". Você pode ter várias tags "info", uma para cada tradução que quiser.-->
        <name>Ficha Konoha Heroes</name>
        <description>Ficha feita para o sistema Konoha Heroes</description>
        <author>HashBR</author>
        <site>http://about:blank</site>
        <contact>nada@gmail.com</contact>
    </info>
</module>
