<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.6c">
    <id>Ambesek.FollowThem</id>
    <version>1.0</version>
    
    
    
    
    
    <info lang="pt-BR">
        <!--Informações do plugin na língua "pt-BR". Você pode ter várias tags "info", uma para cada tradução que quiser.-->
        <name>Follow Them</name>
        <description>Makes a token follow another token in the scene. </description>
        <author>Ambesek</author>
        <site/>
        <contact>vinnyrpgmeister@gmail.com</contact>
    </info>
</module>
