<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5">
    <id>Ambesek.FollowThem</id>
    <version>1.0</version>
    <name>Follow Them</name>
    <description>Makes a token follow another token in the scene. </description>
    <author>Ambesek</author>
    <site/>
    <contact>vinnyrpgmeister@gmail.com</contact>
</module>