<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.7b" originalPluginFileName="wod.rpk" compilationDate="17102025234646" sdkApiVersion="88" sdkMinorApiVersion="2" compilationDigest="641bee22d9bcaa29c4929b197d0c5d2918d5c6b8" compilationUniqueID="68f2d56651d8512200184be9">
    <id>IDDKDIDKFA_WorldOfDarkness</id>
    <version>1.0</version>
    <info lang="pt-BR">
        <name>Nicolai's Wod NPCs</name>
        <description>Wod NPCs</description>
        <author>Nicolai</author>
        <site>http://www.seu.site.com.br</site>
        <contact>Facebook? Twitter? E-Mail?</contact>
    </info>
    
    
    
    
    
</module>
