<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.6c">
	<id>Ambesek.Universal.Storyteller</id>
	<version>0.6</version>
	<info lang="pt-BR">
        <!--Informações do plugin na língua "pt-BR". Você pode ter várias tags "info", uma para cada tradução que quiser.-->
        <name>Ficha Universal Storyteller</name>
        <description>Ficha Generica Universal para Storyteller</description>
        <author>Ambesek</author>
        <site/>
        <contact>vinnyrpgmeister@gmail.com</contact>
    </info>
</module>
