<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.7b">
	<id>GerenciadorDeCampanha</id>
	<version>2.2</version>
    <settings>
        <automaticStringLocalization>true</automaticStringLocalization>
    </settings>
    <info lang="pt-BR">
        <!--Informações do plugin na língua "pt-BR". Você pode ter várias tags "info", uma para cada tradução que quiser.-->
        <name>Gerenciador de Campanha</name>
        <description>Ficha para gerenciar informaçes publicas e privadas de jogo, com visualizaçao seletiva entre jogadores e mestres.</description>
        <author>Ambesek</author>
        <site>http://pt-br.rpgmeister.wikia.com/wiki/Main_Page</site>
        <contact>vinnyrpgmeister@gmail.com</contact>
    </info>
</module>
