<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.4b" compilationDate="15032016203158" sdkApiVersion="7" originalPluginFileName="CALL1.rpk">
	<!--O id identifica seu plugin globalmente. Deve ser único, conter apenas caracteres alfanuméricos, underlines, pontos e deve conter ao menos 5 caracteres e um máximo de 40. Uma vez definido o ID, você não deve alterar ele ;) -->
	<id>o_CHAMADO</id>
	<!--version é a versão do seu plugin. Quando for lançar uma nova versão do seu módulo, altere aqui =) -->
	<version>1.666</version>
	<name>CALL OF CTHULHU</name>
	<description>FICHA DE INVESTIGADOR PARA O CHAMADO DE CTHULHU</description>
	<author>ALIPIO ARAUJO</author>
	<site></site>
	<contact>www.facebook.com\OArqueiro</contact>
	<dataTypes>
		<dataType title="Ficha de Investigador" name="frmcall" lfmFile="call/call.lfm">O_Chamado</dataType>
	</dataTypes>
</module>
