<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5">
    <!--The "id" identifies your plugin globally. Must be unique, must contain only alphanumeric characters, underlines and dots and must contain at least 5 characters and a maximum of 40. Once set the ID, you should not change it;)-->
    <id>Ambesek.Simple.Dealer</id>
    <!--"version" is the version of your plugin. When you release a new version of your module, change here =)-->
    <version>0.3</version>
    <name>Card Dealer</name>
    <description>A simple card dealer for games that use decks of cards. </description>
	<author>Ambesek</author>
	<site>http://pt-br.rpgmeister.wikia.com/wiki/Main_Page</site>
	<contact>vinnyrpgmeister@gmail.com</contact>
</module>
