<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5_prealpha_2">
	<!--O id identifica seu plugin globalmente. Deve ser único, conter apenas caracteres alfanuméricos, underlines, pontos e deve conter ao menos 5 caracteres e um máximo de 40. Uma vez definido o ID, você não deve alterar ele ;) -->
	<id>BR.COM.RRPG.SCENE3_IN_LUA</id>
	<!--version é a versão do seu plugin. Quando for lançar uma nova versão do seu módulo, altere aqui =) -->
	<version>1.0</version>
	<name>Núcleo do Scene 3</name>
	<description>Plug-in que possui funcionalidades básicas do Scene 3</description>
	<author>AlyssonRPG</author>
	<site>http://www.rrpg.com.br</site>
	<contact>alyssonrpg@gmail.com</contact>
</module>
