<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5" compilationDate="18112020183109" sdkApiVersion="86" originalPluginFileName="Ficha Odisseia do Dragão.rpk" compilationDigest="988db5ad736ffe88a66ac1a63b8331bef62cf2d3">
    <!--The "id" identifies your plugin globally. Must be unique, must contain only alphanumeric characters, underlines and dots and must contain at least 5 characters and a maximum of 40. Once set the ID, you should not change it;)-->
    <id>br.com.rrpg.AODD_SDK3</id>
    <!--"version" is the version of your plugin. When you release a new version of your module, change here =)-->
    <version>3.0</version>
    <name>A Odisseia do Dragão</name>
    <description>Adiciona suporte para a ficha do sistema A Odisseia do Dragão</description>
    <author>AlvagorH e Hellzen</author>
    <site>http://www.yourwebsite.com</site>
    <contact>https://www.facebook.com/sean.torres.5</contact>
    
    <dataTypes>
        <dataType title="A Odisseia do Dragão - Ficha de Personagem" name="frmFichaOdisseia2_0" lfmFile="FichaOdisseia2.0/FichaOdisseia2.0.lfm">br.com.RRPG.AODD_S3</dataType>
        <dataType title="A Odisseia do Dragão - Ficha de Licantropo" name="frmFichaOdisseia2_0_Licantropo" lfmFile="FichaODisseiaLicantropo/FichaOdisseia2.0_Licantropo.lfm">br.com.RRPG.AODDL_S3</dataType>
    </dataTypes>
</module>
