<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.4b">
	<id>Ambesek.Anima</id>
	<version>0.2</version>
	<name>Ficha Anima</name>
	<description>Ficha feita para o sistema Anima d20.</description>
	<author>Ambesek</author>
	<site>http://pt-br.rpgmeister.wikia.com/wiki/Main_Page</site>
	<contact>vinnyrpgmeister@gmail.com</contact>
</module>
