<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.4">
	<id>Ambesek.Nefertyne.Reinos</id>
	<version>0.4.1</version>
	<name>Ficha Reinos d20</name>
	<description>Ficha para descrição de Reinos e Cidades seguindo o padrão d20system do Livro do Mestre. </description>
	<author>Ambesek</author>
	<site></site>
	<contact>vinnyrpgmeister@gmail.com</contact>
</module>
