<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.7b">
	<id>Ambesek.Nefertyne.Reinos</id>
	<version>0.14</version>
    <settings>
        <automaticStringLocalization>true</automaticStringLocalization>
    </settings>
    <info lang="pt-BR">
        <!--Informações do plugin na língua "pt-BR". Você pode ter várias tags "info", uma para cada tradução que quiser.-->
        <name>Ficha Reinos d20</name>
        <description>Ficha para descrição de Reinos e Cidades seguindo o padrão d20system do Livro do Mestre. </description>
        <author>Ambesek</author>
        <site/>
        <contact>vinnyrpgmeister@gmail.com</contact>
    </info>
</module>
