<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.6c" originalPluginFileName="Ficha Arc Metal Zhuls.rpk">
    <id>Arc.Metal.Zhuls</id>
    <version>0.3</version>
    
    
    
    
    
    <info lang="pt-BR">
        <!--Informações do plugin na língua "pt-BR". Você pode ter várias tags "info", uma para cada tradução que quiser.-->
        <name>Ficha Arc Metal Zhuls</name>
        <description>Ficha para o cenario e sistema Arc Metal Zhuls.</description>
        <author>Ambesek</author>
        <site/>
        <contact>vinnyrpgmeister@gmail.com</contact>
    </info>
</module>
