<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.4">
    <id>Arc.Metal.Zhuls</id>
    <version>0.2</version>
    <name>Ficha Arc Metal Zhuls</name>
    <description>Ficha para o cenario e sistema Arc Metal Zhuls.</description>
    <author>Ambesek</author>
    <site></site>
    <contact>vinnyrpgmeister@gmail.com</contact>
</module>
