<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5">
	<id>Ambesek.Exalted.3rd</id>
	<version>0.2</version>
	<name>Ficha Exalted 3rd</name>
	<description>Plugin pra jogar Exalted 3ª edição</description>
	<author>Ambesek</author>
	<site/>
	<contact>vinnyrpgmeister@gmail.com</contact>
</module>
