<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5_prealpha_3" originalPluginFileName="World of Darkness 20th.rpk">
	<id>Ambesek.WoD.20th</id>
	<version>0.4.1</version>
	<name>World of Darkness 20th Anniversary</name>
	<description>Plugin de ficha para Werewolf the Apocalypse 20th Anniversary Edition, Vampíre the Dark Ages 20th Anniversary Edition e Mage the Ascension 20th Anniversary Edition</description>
	<author>Ambesek</author>
	<site/>
	<contact>vinnyrpgmeister@gmail.com</contact>
	
</module>
