<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5" originalPluginFileName="World of Darkness 20th.rpk">
	<id>Ambesek.WoD.20th</id>
	<version>0.6</version>
	<name>World of Darkness 20th Anniversary</name>
	<description>Plugin de ficha para Werewolf the Apocalypse, Vampíre the Dark Ages, Vampire the Masquerade, Mage Dark Ages e Mage the Ascension of the 20th Anniversary Edition</description>
	<author>Ambesek</author>
	<site/>
	<contact>vinnyrpgmeister@gmail.com</contact>
</module>
