<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.6c" compilationDate="31032020172259" sdkApiVersion="86" originalPluginFileName="PokePTAOLD.rpk" compilationDigest="2682e61e3cf36252c2ecaf4390b24c3ece69bc06">
	<id>ID_PLAYER_PokePTAOLDHITO</id>
	<version>1.0</version>
	
	
	
	
	
    
    <info lang="pt-BR">
        <!--Informações do plugin na língua "pt-BR". Você pode ter várias tags "info", uma para cada tradução que quiser.-->
        <name>Pokémon - Ficha</name>
        <description>Essa ficha permite fazer a ficha de jogador no sistema Pokémon PTA versão antiga.</description>
        <author>Hitoshura</author>
        <site/>
        <contact>fliraf@gmail.com</contact>
    </info>
</module>
