<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.6c" originalPluginFileName="Plugins.rpk" compilationDate="07082023132158" sdkApiVersion="87" compilationDigest="65a95becb9e0eeb2d642a8b6e4c237ded051d7b4">
    <!--"id" identifica seu plug-in de forma global. Deve ser exclusivo, conter apenas caracteres alfanuméricos, underlines, pontos e deve conter pelo menos 5 caracteres e um máximo de 40. Depois de definir o ID, você não deve alterá-lo ;)-->
    <id>ODPThandvorg</id>
    <!--"version" é a versão do seu plugin. Quando você lança uma nova versão do seu módulo, altere aqui =)-->
    <version>1.0</version>
    <info lang="pt-BR">
        <!--Informações do plugin na língua "pt-BR". Você pode ter várias tags "info", uma para cada tradução que quiser.-->
        <name>Ordem Paranormal 1.2</name>
        <description>Ficha de Ordem Paranormal para Firecast</description>
        <author>Thandvorg</author>
        <site>http://www.seu.site.com.br</site>
        <contact>Facebook? Twitter? E-Mail?</contact>
    </info>
    
    
    
    
    
    
    
</module>
