<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5" compilationDate="25052016173130" sdkApiVersion="10" originalPluginFileName="ficha.rpk">
	<!--O id identifica seu plugin globalmente. Deve ser único, conter apenas caracteres alfanuméricos, underlines, pontos e deve conter ao menos 5 caracteres e um máximo de 40. Uma vez definido o ID, você não deve alterar ele ;) -->
	<id>Ambesek.FMO</id>
	<!--version é a versão do seu plugin. Quando for lançar uma nova versão do seu módulo, altere aqui =) -->
	<version>0.3.2</version>
	<name>Ficha Mundo Original</name>
	<author>Ambesek</author>
	<description></description>
    <site></site>
    <contact>vinnyrpgmeister@gmail.com</contact>
</module>
