<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.4b">
	<id>Ambesek.Nefertyne.Avatar.d20</id>
	<version>0.4</version>
	<name>Ficha Avatar d20</name>
	<description>Ficha feita para uma adaptação de Avatar para o sistema d20/D&amp;D3.5</description>
	<author>Ambesek &amp; Nefertyne</author>
	<site>http://pt-br.rpgmeister.wikia.com/wiki/Main_Page</site>
	<contact>vinnyrpgmeister@gmail.com</contact>
</module>
